@media screen and (max-width: 850px) {
  header.nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
  }
  header.nav__container .navbar {
    width: 100%;
    padding: 30px 30px;
    background-color: black;
  }
  .menu__toggle header.nav__container .navbar:hover {
    cursor: pointer;
  }
  header.nav__container .navbar .bar {
    display: block;
    cursor: pointer;
  }
  header.nav__container .navbar #mobile__menu {
    position: absolute;
    top: 30%;
    right: 5%;
    -webkit-transform: translate(5%, 20%);
            transform: translate(5%, 20%);
  }
  header.nav__container .navbar #mobile__menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  header.nav__container .navbar #mobile__menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  header.nav__container .navbar #mobile__menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  header.nav__container .navbar .nav__menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 75px;
    left: -100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: -1;
  }
  header.nav__container .navbar .nav__menu.active {
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 0;
  }
  header.nav__container .navbar .nav__menu .nav__links {
    width: 100%;
    display: table;
    text-align: center;
    line-height: 60px;
  }
  header.nav__container .navbar .nav__menu .nav__links:not(:last-child) {
    padding-right: 0;
  }
  header.nav__container .navbar .nav__menu .nav__links:hover {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  header.nav__container .navbar .nav__menu .nav__links-bin {
    border: none;
    border-radius: 0;
    color: white;
    padding: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  header.nav__container .navbar .nav__menu .nav__links-bin:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: black;
    color: #96d13d;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
}