@import url("https://use.typekit.net/bso1ttx.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: agenda, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.bg__image {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("https://images.unsplash.com/photo-1542751371-adc38448a05e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

header.nav__container {
  width: 100%;
  position: relative;
  background-color: transparent;
}
header.nav__container .navbar {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 80px;
}
header.nav__container .navbar > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
header.nav__container .navbar > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
header.nav__container .navbar #navbar__logo {
  width: 200px;
}
header.nav__container .navbar #navbar__logo:hover {
  cursor: pointer;
}
header.nav__container .navbar .menu__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
}
header.nav__container .navbar .nav__menu {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}
header.nav__container .navbar .nav__menu :not(:last-child) {
  padding-right: 40px;
}
header.nav__container .navbar .nav__menu .nav__links {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}