doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet" href="https://use.typekit.net/bso1ttx.css")
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.3/css/all.css' integrity='sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk' crossorigin='anonymous')

        title Referigames
    body
        header(class="nav__container")
            nav(class="navbar")
                a(href="/")
                    img(src="./assets/white-main.png", id="navbar__logo")
                div(class="menu__toggle", id="mobile__menu")
                    span(class="bar")
                    span(class="bar")
                    span(class="bar")
                ul(class="nav__menu")
                    l1
                        a(href="/", class="nav__links") Inicio
                    l1
                        a(href="/", class="nav__links") Conocenos
                    l1
                        a(href="/", class="nav__links") Galeria
                    l1
                        a(href="/", class="nav__links") Contacto
        main(class='head__container')
            div(class='head__title')
                h1 AQUI VA UN FORMULARIO
            div(class='head__form')
                form(action="", method="POST")
                    div(class='form__content')
                        input(type="email", name='level-1', placeholder='Ingresa tu correo electronico...')
                    div(class='form__submit')
                        button(type="submit") Enviar
            div(class='head__info')
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad reiciendis a enim accusantium placeat eaque labore dolorum maiores. Veritatis fugiat porro dolor ipsam officia laudantium, placeat vel velit nostrum perferendis.
                p Veritatis fugiat porro dolor ipsam officia laudantium, placeat vel velit nostrum perferendis.
        section(class='about__container')
            h1 Conocenos
            div(class='about__info')
                div(class='info__block')
                    h2 ¿Que es Referigames?
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur necessitatibus et saepe omnis nisi adipisci fugiat hic officia ipsam enim voluptas, quas, at inventore eum obcaecati labore! Ab, delectus rerum.
            div(class='about__info')
                div(class='info__block')
                    span 
                        i(class='fas fa-building') 
                            span Vision
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur necessitatibus et saepe omnis nisi adipisci fugiat hic officia ipsam enim voluptas, quas, at inventore eum obcaecati labore! Ab, delectus rerum.
            div(class='about__info')
                div(class='info__block')
                    span 
                        i(class='fas fa-bullseye')  Mision
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur necessitatibus et saepe omnis nisi adipisci fugiat hic officia ipsam enim voluptas, quas, at inventore eum obcaecati labore! Ab, delectus rerum.
        script(src="./js/index.js")